.non-selectable {
    /* Disable the selection option for the error messages */
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#contentContainer {
    display: flex;
    min-height: auto;
}

#nonEditableContent {
    background-color: #f0f0f0;
    padding: 10px 10px 0px 10px;
}

#editableContent {
    padding: 10px;
    border: 2px solid black;
    /* scroll-behavior: smooth; */
    flex-grow: 1;
}

#runLog {
    display: none;
    /* min-height: auto; */
    flex-grow: 1;
    padding: 10px;
    border: 2px solid black;
}


