.non-selectable {
    /* Disable the selection option for the error messages */
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between; /* Adjusts vertical spacing */
    /* align-items: center; */
}

#contentContainer {
    display: flex;
    min-height: auto;
    flex: 1;
}

#nonEditableContent {
    background-color: #f0f0f0;
    padding: 10px 10px 0px 10px;
}

#editableContent {
    padding: 10px;
    border: 2px solid #F4991A;
    /* scroll-behavior: smooth; */
    flex-grow: 1;
}

#runLog {
    display: none;
    /* min-height: auto; */
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #F4991A;
}

.unclosed-bracket {
    /* border-bottom: 2px solid red; Red underline */
    text-decoration: underline;
}

footer {
    height: 200px;
}

.roboto-mono-title p , h2, h3, button, #editableContent{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
  }
